name: DAG Deploy (Shopee - Standalone)

on:
  push:
    branches:
      - master
    paths:
      - dags/**
      - .github/workflows/dag-deploy.yaml
  workflow_dispatch:

concurrency: ${{ github.ref }}-${{ github.workflow }}

jobs:
  upload:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      
      - uses: google-github-actions/setup-gcloud@v2
      
      - name: Upload DAG to Composer bucket
        run: |
          gcloud storage cp -r \
            ./dags/ingestion--shopee-orders-vuanem/ \
            gs://vnbi-composer-1/dags/
